.background-1 {
	background-color: #37374F;
}

.background-2 {
	background-color: #34CBE1;
}

.background-3 {
	background-color: #D0C5D4;
}

.background-4 {
	background-color: #33334B;
}

.background-5 {
	background-color: #565896;
}

.color-1 {
	color: #37374F;
}

.color-2 {
	color: #3ACBE1;
}

.color-3 {
	color: #D0C5D4;
}

.color-4 {
	color: #33334B;
}

.color-5 {
	color: #565896;
}

.border-1 {
	border-color: #37374F;
}

.border-2 {
	border-color: #3ACBE1;
}

.border-3 {
	border-color: #D0C5D4;
}

.border-4 {
	border-color: #33334B;
}

.border-5 {
	border-color: #565896;
}

